# -*- conf -*-

[flake8]
# Use black's default line length of 88, rather than using the
# flake8's default line length of 79.
max-line-length = 88

ignore =
    # ignore lines black couldn't handle.
    E501,

statistics = True
exclude =
    .git,
    .eggs,
    __pycache__,
    venv/
    doc/,
    docs/,
    build/,
    dist/,
    archive/
